<table class="default">
	<thead>
		<tr>
			<th>Icon</th>
			<th>Filename</th>
			<th>Type</th>
			<th>Size</th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tbody>
		{S3-LOOP}
		<tr class="{S3-ZEBRA}">
			<th class="icon"><img src="{S3-ICON}" alt="{S3-EXTENSION}"></th>
			<td class="filename"><a href="{S3-FILEURL}">{S3-FILENAME}</a></td>
			<td>{S3-TYPE}</td>
			<td>{S3-SIZE}</td>
			<td>{S3-DATE}</td>
		</tr>
		{S3-ENDLOOP}
	</tbody>
</table>
